body {
	text-align: center;
	background-image: url(../images/background.png);
	margin: 0;
	font-family: "Arial", sans-serif;
	color: black;
}
p {
	font-size: 13px;
}
.copyright {
	font-style: italic;
	font-size: 10px;
}
.topBar {
	width: 100%;
	background-color: black;
	color: white;
	margin-top: 10px;
	overflow: hidden;
	height: 40px;
}
.title {
	font-size: 20px;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	display: inline-block;
	text-align: left;
	float: left;
	line-height: 40px;
}
.navbar {
	list-style-type: none;
	margin: 0;
	padding:0;
	display: inline-block;
	float: right;
	text-align: center;
	width: 240px;
} 
.navlink {
	display: inline-block;
	float: right;
	text-decoration: none;
	font-size: 15px;
	width: 80px;
	line-height: 40px;
	color: white;
}
.navlink:hover {
	background-color: gray; 
}
